{
    "plugins": [
      "@babel/plugin-proposal-optional-chaining",
      ["module-resolver",
        {
          "cwd": "babelrc",
          "root": ["./src"],
          "alias": {
            "~app": "./src/app"
          }
        }
      ]
    ]
  }
  