.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    background: linear-gradient(to bottom,#f44f5e, #a0051c);
}

.tile {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom,#fad75f, #f76c1d);
    text-align: center;
    cursor: pointer;
}

.letter {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: rgba(#343a40, 0.5) -2px -2px 4px;
}

