@import '../../scss/variables';

$tile-board-size: 404px;
$tile-board-mobile-size: 290px;
$tile-board-mobile-small-size: 180px;

$tile-gap: 20px;
$tile-mobile-gap: 10px;
$tile-mobile-small-gap: 5px;

.container {
    width: $tile-board-size;
    height: $tile-board-size;
}

.tile-board-row {
    display: flex;
    flex-direction: row;
    margin-bottom: $tile-gap;
}

.tile-board {
    margin-right: $tile-gap;
}

@media screen and (max-width: $mobile-responsive) {
    .container {
        width: $tile-board-mobile-size;
        height: $tile-board-mobile-size;
    }

    .tile-board-row {
        margin-bottom: $tile-mobile-gap;
    }
    
    .tile-board {
        margin-right: $tile-mobile-gap;
    }
}

@media screen and (max-width: $small-mobile-responsive) {
    .container {
        width: $tile-board-mobile-small-size;
        height: $tile-board-mobile-small-size;
    }

    .tile-board-row {
        margin-bottom: $tile-mobile-small-gap;
    }
    
    .tile-board {
        margin-right: $tile-mobile-small-gap;
    }
}