@import '../../../../scss/variables';

$container-size: 86px;
$tile-size: 82px;
$container-mobile-size: 66px;
$tile-mobile-size: 62px;
$top-red: #f44f5e;
$bottom-red: #a0051c;
$top-green: #afe64e;
$bottom-green: #439422;
$top-orange: #fad75f;
$bottom-orange: #f76c1d;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $container-size;
    height: $container-size;
    border-radius: 10px;
    background: linear-gradient(to bottom,$top-red, $bottom-red);
    
    &-match-word {
        background: linear-gradient(to bottom,$top-green, $bottom-green);
    }
}

.tile {
    width: $tile-size;
    height: $tile-size;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom,$top-orange, $bottom-orange);
    text-align: center;
    cursor: pointer;

    &-valid-target {
        cursor: pointer;
    }

    &-selected {
        background: linear-gradient(to bottom,$top-red, $bottom-red);
    }

    &-match-word {
        background: linear-gradient(to bottom,$top-green, $bottom-green);
    }

    &-non-clickable {
        cursor: not-allowed;
    }
}

.letter {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: rgba(#343a40, 0.5) -2px -2px 4px;
}

@media screen and (max-width: $mobile-responsive) {
    .container {
        width: $container-mobile-size;
        height: $container-mobile-size;
    }

    .tile {
        width: $tile-mobile-size;
        height: $tile-mobile-size;
    }
}

