$mobile-responsive: 768px;

.container {
  text-align: center;
}

.app-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $mobile-responsive) {
  .app-container {
    justify-content: space-evenly;
  }
}
